{% extends 'base.html' %}
{% block body %}
<style>
* {
  box-sizing: border-box;
}

/* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

/* Style the container/contact section */
.container {
  border-radius: 5px;
  padding: 10px;
}

/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
</style>
</head>
<div class="container" >
<body div id="grad1">
<style>
#grad1 {
  height: 200px;
  background-color: white; /* For browsers that do not support gradients */
}
</style>

<div class="container">
  <div style="text-align:center">
    <h2>Contact Me</h2>
    <p>Swing by for a cup of coffee, or leave me a message:</p>
  </div>
    <p>

    </p>
  <div class="row">
      <div class="column"><h6>
      Office Address : Durga Plaza, 37 University Road, Freeganj, Ujjain<br>
      Phone No : +91 94245 82125</h6>
        <br>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3667.8491263058704!2d75.78812895010648!3d23.17570601632991!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3963746ec48d5bb9%3A0xb9b9296466c8ec68!2sDurga%20Plaza%2C%20Kamla%20Nehru%20Marg%2C%20Madhav%20Nagar%2C%20Ujjain%2C%20Madhya%20Pradesh%20456010!5e0!3m2!1sen!2sin!4v1616222446187!5m2!1sen!2sin" width="550" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
      <!--<img src="image/photo2.jpeg" style="width: 100%">-->
    </div>
    <div class="column">
      <form action="/action_page.php">
        <label for="name"><b>Your Name</b></label>
        <input type="text" id="name" name="name" placeholder="Enter your Name">
        <label for="email"><b>Your Email</b></label>
        <input type="text" id="email" name="email" placeholder="Enter your Email">
        <label for="phone"><b>Your phone number (with country code)</b></label>
        <input type="text" id="phone" name="phone" placeholder="Enter your Phone Number">
        <label for="subject"><b>Describe what you want to contact me for here</b></label>
        <textarea id="subject" name="subject" placeholder="Your message" style="height:170px"></textarea>
        <input class="btn btn-danger" type="button" value="Submit">
      </form>
    </div>
  </div>
</div>
</body>
</div>
</html>
{% endblock body %}
