{% extends 'base.html' %}
{% block body %}
  <center>
<h1>Welcome to the text analyser</h1>
<h2>Enter your Text below :</h2>
</center>
<style type="text/css">
        #fancybox-close {
            right: -15px;
            top: -15px
        }

        div#fancybox-content {
            border-color: #FFFFFF
        }

        div#fancybox-title {
            background-color: #FFFFFF
        }

        div#fancybox-outer {
            background-color: #FFFFFF
        }

        div#fancybox-title-inside {
            color: #333333
        }
</style>
<script type="text/javascript" src="./index_files/jquery.js"></script>
    <script type="text/javascript" src="./index_files/jquery.fancybox.js"></script>
    <script type="text/javascript" src="./index_files/ckeditor.js"></script>
    <style>.cke {
        visibility: hidden;
    }</style>
    <script type="text/javascript" src="./index_files/ckeditor.utils.js"></script>
    <link rel="prev" title="Главная страница" href="http://www.nkrow.ru/">
    <link rel="next" title="sdsad" href="http://www.nkrow.ru/video-s-mk-kati-upit/sdsad/">

  <div class="container">
      <br>
      <form action='/analyze' method='post'> {% csrf_token %}
          <textarea class="form-control" name="text" id="exampleFormControlTextarea1" style=" border: 5px solid black; border-radius:28px;" rows="9"></textarea>
      <br>

      <div class="form-check form-switch">
  <input class="form-check-input" name="removepunc" type="checkbox" role="switch" id="removepunc">
  <label class="form-check-label" for="removepunc">Remove Punctuations</label>
</div>

      <div class="form-check form-switch">
  <input class="form-check-input" name="fullcaps" type="checkbox" role="switch" id="fullcaps">
  <label class="form-check-label" for="fullcaps">UPPER CASE</label>
</div>
      <div class="form-check form-switch">
  <input class="form-check-input" name="newlineremover" type="checkbox" role="switch" id="newlineremover">
  <label class="form-check-label" for="newlineremover">New Line Remover</label>
</div>
      <div class="form-check form-switch">
  <input class="form-check-input" name="extraspaceremover" type="checkbox" role="switch" id="extraspaceremover">
  <label class="form-check-label" for="extraspaceremover">Remove extra space</label>
</div>

      <div class="d-grid gap-2">
  <button class="btn btn-dark" type="submit">Analyze Text</button>
</div>
  </form>
</div>
 {% endblock body %}
