<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TextUtils</title>
</head>
<body>
<center>
<h1>Welcome to the text analyser</h1>
<h2>Enter your Text below :</h2>
</center>
<form action='/analyze' method='get'>
<textarea name="text" style="margin: 0px; width: 1373px; height: 205px;"></textarea>
    <br><input type="checkbox" name="removepunc">Remove Punctuations
    <br><input type="checkbox" name="fullcaps">UPPER CASE
    <br><input type="checkbox" name="newlineremover">New Line Remover
    <br><input type="checkbox" name="extraspaceremover">Remove extra space
    <br><button type="submit">Analyze Text</button>
    <br><button type="submit1">Analyze Text</button>
    <br><button type="submit2">Analyze Tsext</button>
    <br><button type="submit3">Analyze Tesxt</button>
    <br><button type="submit4">Analyze Texsft</button>
    <br><button type="submit5">Analyze Tgdsgextf</button>
    
</form>
</body>
</html>
